[Unit]
Description=laced
After=syslog.target

[Service]
Type=forking
User={{USER}}
Group={{GROUP}}
RuntimeDirectory=laced
PIDFile=/run/laced/laced.pid
ExecStart=/usr/local/bin/laced \
    -conf -p /etc/laced/config.laced
Restart=on-failure
RestartSec=5
TimeoutStartSec=5
WorkingDirectory=/

[Install]
WantedBy=multi-user.target